[submodule "FreeRTOS_01"]
	path = FreeRTOS_01
	url = https://github.com/MahendraSondagar/FreeRTOS_01
[submodule "FreeRTOS_02"]
	path = FreeRTOS_02
	url = https://github.com/MahendraSondagar/FreeRTOS_02
[submodule "FreeRTOS_03"]
	path = FreeRTOS_03
	url = https://github.com/MahendraSondagar/FreeRTOS_03
[submodule "FreeRTOS_04"]
	path = FreeRTOS_04
	url = https://github.com/MahendraSondagar/FreeRTOS_04
